@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
button {
  font-family: "Black Han Sans", serif;
}